/*==================================
=     Mixins
==================================*/
@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin top-rounded($radius) {
  border-radius-top: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
}
@mixin bottom-rounded($radius) {
  border-radius-bottom: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}
* {
  color: #41403C;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 13px;
}
p {
  font-size: 14px;
  line-height: 18px;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Verdana;
  line-height: 1.5em;
  background: #303030 image_url('refinery/page_bg.png') repeat;
}
h1, h2, h3 {
  margin-top: 0;
}

a {
  color: #3420D3;
}

#body_content_title {
  display: none;
}

header {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: -moz-linear-gradient(top,  #555, #222);
  color: #FFF;
  font-weight: bold;
  position: relative;
  padding: 15px 100px;
  #logo {
    margin: 0;
    font-size: 24px;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
  ul {
    position: absolute;
    right: 100px;
    top: 18px;
    list-style: none;
    margin: 0;
    li {
      float: left;
      padding: 2px 10px;
      border-right: solid 2px #6F6F6F;
      &.last {
        border-right: none;
      }
    }
  }
}

#page_container, #site_bar_content, header {
  margin: 0px auto 10px auto;
  text-align: left;
  
}
#page_container {
  width: 960px;
  padding: 30px 15px;
}

#content, #page_container {
  background-color: white;
}
header, nav {
  display: block;
}
#page_container .login #page h1 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  line-height:22px
}


#page_container {
    width: 960px;
    div.remember_me label, label.inline {
      display: inline;
    }
    div.actions {
      margin-top: 12px;
    }
    div.remember_me {
      width: 300px;
      float: left;
    }
    div.forgot_password {
      float: right;
      width: 250px;
    }
  }


#banner {
  background-color: #852A2C;
  padding: 20px 100px;
  font-weight: normal;
  font-style: italic;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
  background: -moz-linear-gradient(top,  #A03133, #722324);
  -moz-box-shadow: 0 2px 8px 2px #000;
  -webkit-box-shadow: 0 2px 6px 2px #000;
  margin-bottom: 30px;
  p {
    margin: 0;
    padding-top: 32px;
    font-size: 34px;
    &.font-size-small {
      padding-top: 10px;
      font-size: 20px;
      color: #EAA29F;
    }
  }
}

#page_container, .wym_box {
  @include bottom-rounded(5px);
}


#body_content {
  position: relative;
  #body {
    margin: 25px 100px;
  }
  .image-align-left {
    margin-right: 40px;
  }
  #side_body {
    position: absolute;
    top: 0;
    right: 100px;
    width: 250px;
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

footer {
  font-size: 12px;
  color: #999;
  text-align: center;
  clear: both;
}
